@using MVC_DOAN.ViewModels;
@model CreateLoaiSanPhamVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" id="TaikhoanId" name="TaikhoanId" asp-for="TaikhoanId" />
    <div class="form-group">  
        <label asp-for="Id">Ma loai san pham</label>
        <input asp-for="Id" class="form-control"  placeholder="Enter Ma Loai san pham">
        <span asp-validation-for="Id" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Tenlsp">Ten san pham</label>
        <input asp-for="Tenlsp" class="form-control" placeholder="Enter Ten Loai san pham">
        <span asp-validation-for="Tenlsp" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Tinhtrang">Tinh trang</label>
        <input asp-for="Tinhtrang" class="form-control" placeholder="Enter Tinh trang Loai san pham">
        <span asp-validation-for="Tinhtrang" class="text-danger"> </span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>