@using MVC_DOAN.Models
@model Loaisanpham
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input type="hidden" asp-for="Malsp" id="Malsp" />
    <div class="form-group">
        <label asp-for="Tenlsp">Ma loai san pham</label>
        <input asp-for="Tenlsp" class="form-control" placeholder="Enter Ten Loai san pham">
        <span asp-validation-for="Tenlsp" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Tinhtrang">Tinh trang</label>
        <input asp-for="Tinhtrang" class="form-control" placeholder="Enter Tinh trang Loai san pham">
        <span asp-validation-for="Tinhtrang" class="text-danger"> </span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
