
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Lấy tất cả các hàng input group
        const inputGroups = document.querySelectorAll(".quantity-price");

        // Lặp qua từng hàng input group để thêm sự kiện tương ứng
        inputGroups.forEach(function (group) {
            const decrementButton = group.querySelector(".decrement");
            const incrementButton = group.querySelector(".increment");
            const quantityInput = group.querySelector(".quantityInput");
            const priceDiv = group.querySelector(".priceDiv");
            const originalPrice = parseInt(priceDiv.querySelector("b").innerText);

            function updatePrice(value) {
                const newPrice = originalPrice * value;
                priceDiv.querySelector("b").innerText = newPrice;
            }
            decrementButton.addEventListener("click", function () {
                let currentValue = parseInt(quantityInput.value) || 1;
                if (currentValue > 1) {
                    currentValue--;
                    quantityInput.value = currentValue;
                    updatePrice(currentValue);
                }
            });

            incrementButton.addEventListener("click", function () {
                let currentValue = parseInt(quantityInput.value) || 1;
                currentValue++;
                quantityInput.value = currentValue;
                updatePrice(currentValue);
            });

            quantityInput.addEventListener("input", function () {
                let currentValue = parseInt(quantityInput.value) || 1;
                updatePrice(currentValue);
            });
        });

        const checkboxes = document.querySelectorAll('.checked-row input[type="checkbox"]');
        const totalElement = document.getElementById('totalAmount');
        let totalPrice = 0;

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                const isChecked = this.checked;
                const priceDiv = this.closest('.checked-row').nextElementSibling.querySelector('.priceDiv');
                const price = parseInt(priceDiv.querySelector('b').innerText);

                if (isChecked) {
                    totalPrice += price;
                } else {
                    totalPrice -= price;
                }

                // Cập nhật tổng giá trị
                totalElement.textContent = totalPrice;
            });
        });



        const showModalButton = document.getElementById('showModalButton');
        const modal = document.getElementById('myModal');
        const closeBtn = modal.querySelector('.close');

        showModalButton.addEventListener('click', function () {
            modal.style.display = 'block';
        });

        closeBtn.addEventListener('click', function () {
            modal.style.display = 'none';
        });

        window.addEventListener('click', function (event) {
            if (event.target === modal) {
                modal.style.display = 'none';
            }
        });


        var consigneenameInput = document.getElementById('input-consigneename');
        var phoneInput = document.getElementById('input-phonenumber');
        var addressInput = document.getElementById('input-address');
        // Lấy tất cả các input radio trong tài liệu
        var radios = document.querySelectorAll(".address");

        // Lặp qua từng radio và thêm sự kiện 'click'
        radios.forEach(function (radio) {
            radio.addEventListener('click', function () {
                if (this.checked) {
                    // Ẩn modal khi người dùng chọn radio button
                    var modal = document.getElementById('myModal');
                    modal.style.display = 'none';

                    var consigneeName = this.closest('.label-address').querySelector('.consignee-name').innerText;
                    var phoneNumber = this.closest('.label-address').querySelector('.phone-numer').innerText;
                    var addressDetails = this.closest('.label-address').querySelector('.address-details').innerText;

                    consigneenameInput.value = consigneeName;
                    phoneInput.value = phoneNumber;
                    addressInput.value = addressDetails;
                }
            });
        });

    });

</script>
<style>
    :root {
        --secondary-color: #ffffff;
        --secondary-color-active: #f0f0f0;
    }

    /* Áp dụng màu chủ đạo mới cho các phần tử Bootstrap */
    .btn-secondary {
        background-color: var(--secondary-color);
        border-color: var(--secondary-color);
        color: #000000;
    }
    .btn-secondary:hover,
    .btn-secondary:focus,
    .btn-secondary:active,
    .btn-secondary.active,
    .show > .btn-secondary.dropdown-toggle {
            background-color: var(--secondary-color-active);
            border-color: var(--secondary-color-active);
            color: #000000;
    }

    .icon-with-text {
        cursor:pointer;
        position: relative;
        display: inline-block; /* Để div chỉ chứa đúng kích thước của nội dung bên trong */
        font-size: 16px; /* Kích thước chung của văn bản và icon */
        margin-bottom: 20px; /* Khoảng cách giữa các div */
    }

        .icon-with-text i {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            color: #aaa;
        }

        .icon-with-text .text {
            padding-right: 20px; /* Khoảng trống bên phải của div chứa văn bản */
        }

    .button-with-icon {
        position: relative;
        display: block;
        font-size: 16px;
        margin-bottom: 20px;
        padding:0 !important;
    }

        .button-with-icon button {
            text-align: left;
        }

        .button-with-icon i {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            color: #aaa;
        }
    /* CSS để ẩn modal ban đầu và cố định kích thước */
    .modal {
        display: none; /* Ẩn modal */
        position: fixed; /* Cố định vị trí trên cùng của trình duyệt */
        z-index: 1; /* Hiển thị modal trên các phần tử khác */
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto; /* Kích hoạt thanh cuộn trong trường hợp nội dung dài */
        background-color: rgba(0, 0, 0, 0.5); /* Màu nền với độ mờ */
    }

    .modal-content {
        position: absolute; /* Đặt vị trí tuyệt đối để tránh các hiệu ứng kích thước mở rộng */
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff; /* Màu nền của phần modal */
        padding: 20px;
        border: 1px solid #888;
        max-width: 80%; /* Kích thước tối đa của modal */
        max-height: 80%; /* Chiều cao tối đa của modal */
        overflow: auto; /* Kích hoạt thanh cuộn trong trường hợp nội dung dài */
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .vertical-center {
        display: flex;
        align-items: center; /* Căn giữa theo chiều dọc */
        justify-content: center; /* Căn giữa theo chiều ngang */
    }

  </style>
<section style="background-color: #eee;">
    <div class="modal" id="myModal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h5>SỔ ĐỊA CHỈ</h5>

            <div class="col-lg-12 row mb-3" style="margin-left: 0 !important;">
                <div class="card p-0 col-lg-11">
                    <label class="label-address btn btn-secondary form-control form-control-lg d-flex align-items-center p-0">
                        <input type="radio" name="options" class="address" autocomplete="off" style="margin:10px"
                               size="1" minlength="3" maxlength="3"
                               checked>
                        <div style="margin:10px; display: block; text-align: left;">
                            <div><b>Tên người nhận: </b><span class="consignee-name">Name 1</span></div>
                            <div><b>Số điện thoại: </b><span class="phone-numer">09********</span></div>
                            <div><b>Địa chỉ: </b><span class="address-details">Address</span></div>
                        </div>
                    </label>
                </div>
                <div class="col-lg-1 vertical-center">
                    <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>

            <div class="col-lg-12 row mb-3" style="margin-left: 0 !important;">
                <div class="card p-0 col-lg-11">
                    <label class="label-address btn btn-secondary form-control form-control-lg d-flex align-items-center p-0">
                        <input type="radio" name="options" class="address" autocomplete="off" style="margin:10px"
                               size="1" minlength="3" maxlength="3"
                               checked>
                        <div style="margin:10px; display: block; text-align: left;">
                            <div><b>Tên người nhận: </b><span class="consignee-name">Name 2</span></div>
                            <div><b>Số điện thoại: </b><span class="phone-numer">09********</span></div>
                            <div><b>Địa chỉ: </b><span class="address-details">Address</span></div>
                        </div>
                    </label>
                </div>
                <div class="col-lg-1 vertical-center">
                    <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>

            <button class="btn btn-primary" type="button">
                Thêm địa chỉ
            </button>
        </div>
    </div>

    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg-7" style=" height: 600px; overflow: auto;">
                                <h5 class="mb-3">
                                    <a href="#!" class="text-body">
                                        <i class="fas fa-long-arrow-alt-left me-2"></i>Tiếp tục mua sắm
                                    </a>
                                </h5>
                                <hr>

                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="checked-row d-flex flex-row align-items-center" data-key="">
                                                <div class ="mx-3">
                                                    <input type="checkbox" id="myCheckbox">
                                                </div>
                                                <div class="mx-3">
                                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img1.webp"
                                                         class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                </div>
                                                <div class="ms-3" style="width: 150px;">
                                                    <h5>Iphone 11 pro</h5>
                                                </div>
                                            </div>
                                            <div class="quantity-price d-flex flex-row align-items-center">
                                                <div class="input-group" style="z-index:0;" >
                                                    <button class="btn btn-white border border-secondary px-3 decrement" type="button" data-mdb-ripple-color="dark">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <input type="text" class="quantityInput text-center border border-secondary" value="1" style="width: 50px;" />
                                                    <button class="btn btn-white border border-secondary px-3 increment" type="button" data-mdb-ripple-color="dark">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                                <div class="priceDiv" style="width: 200px;">
                                                    <p class="mb-0"><b>90000</b><span> VNĐ</span></p>
                                                </div>
                                                <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="checked-row d-flex flex-row align-items-center">
                                                <div class="mx-3">
                                                    <input type="checkbox" id="myCheckbox">
                                                </div>
                                                <div class="mx-3">
                                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img2.webp"
                                                         class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                </div>
                                                <div class="ms-3" style="width: 150px;">
                                                    <h5>Samsung galaxy Note 10 10 10 10 10</h5>
                                                </div>
                                            </div>
                                            <div class="quantity-price d-flex flex-row align-items-center">
                                                <div class="input-group" style="z-index:0;">
                                                    <button class="btn btn-white border border-secondary px-3 decrement" type="button" data-mdb-ripple-color="dark">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <input type="text" class="quantityInput text-center border border-secondary" value="1" style="width: 50px;" />
                                                    <button class="btn btn-white border border-secondary px-3 increment" type="button" data-mdb-ripple-color="dark">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                                <div class="priceDiv" style="width: 200px;">
                                                    <p class="mb-0"><b>90000</b><span> VNĐ</span></p>
                                                </div>
                                                <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="checked-row d-flex flex-row align-items-center">
                                                <div class="mx-3">
                                                    <input type="checkbox" id="myCheckbox">
                                                </div>
                                                <div class="mx-3">
                                                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-shopping-carts/img3.webp"
                                                         class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                </div>
                                                <div class="ms-3" style="width: 150px;">
                                                    <h5>Canon EOS M50</h5>
                                                </div>
                                            </div>
                                            <div class="quantity-price d-flex flex-row align-items-center">
                                                <div class="input-group" style="z-index:0;">
                                                    <button class="btn btn-white border border-secondary px-3 decrement" type="button" data-mdb-ripple-color="dark">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <input type="text" class="quantityInput text-center border border-secondary" value="1" style="width: 50px;" />
                                                    <button class="btn btn-white border border-secondary px-3 increment" type="button" data-mdb-ripple-color="dark">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                                <div class="priceDiv" style="width: 200px;">
                                                    <p class="mb-0"><b>90000</b><span> VNĐ</span></p>
                                                </div>
                                                <a href="#!" style="color: #cecece;"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <div class="card text-white rounded-3" style="background-color: #0dcaf0">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Giỏ hàng</h5>
                                        </div>

                                        <div class="button-with-icon form-control">
                                            <button class="form-control form-control-lg" id="showModalButton">
                                                Chọn địa chỉ giao hàng <i class="fas fa-arrow-right"></i>
                                            </button>
                                        </div>

                                        <form class="mt-4">
                                            <div class="form-group mb-4">
                                                <label for="input-consigneename">Tên người nhận hàng:</label>
                                                <input type="text" class="form-control form-control-lg" id="input-consigneename" disabled>
                                            </div>
                                            <div class="form-group mb-4">
                                                <label for="input-phonenumber">Số điện thoại:</label>
                                                <input type="text" class="form-control form-control-lg" id="input-phonenumber" disabled>
                                            </div>
                                            <div class="form-group mb-4">
                                                <label for="input-address">Địa chỉ giao hàng:</label>
                                                <input type="text" class="form-control form-control-lg" id="input-address" disabled>
                                            </div>
                                        </form>

                                        <label>Chọn phương thức thanh toán:</label>
                                        <div data-toggle="buttons" style="border: 2px solid #ccc; border-radius: 10px; background-color: #f0f0f0;">
                                            <label class="btn btn-secondary form-control form-control-lg d-flex align-items-center justify-content-between">
                                                <input type="radio" name="options" id="COD" autocomplete="off"
                                                       size="1" minlength="3" maxlength="3" style="margin-right: 10px;"
                                                       checked>
                                                <span class="flex-grow-1">Thanh toán khi nhận hàng</span>
                                            </label>

                                            <label class="btn btn-secondary form-control form-control-lg d-flex align-items-center justify-content-between">
                                                <input type="radio" name="options" id="VNPay" autocomplete="off"
                                                       size="1" minlength="3" maxlength="3" style="margin-right: 10px;">
                                                <span class="flex-grow-1">Thanh toán VNPay</span>
                                            </label>

                                        </div>

                                        <hr class="my-4">

                                        <div class="d-flex justify-content-between">
                                            <p class="mb-2"><strong>Tổng tiền</strong></p>
                                            <p class="mb-2"><strong id="totalAmount">0</strong><span> VNĐ</span></p>
                                        </div>

                                        <button type="button" class="btn btn-light info btn-block btn-lg w-100">
                                            <div class="d-flex justify-content-between align-items-center text-center w-100">
                                                <span class="mx-auto">Thanh toán <i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                                            </div>
                                        </button>

                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>