@using MVC_DOAN.ViewModels
@model EditSanPhamViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Masp">Ma san pham</label>
        <input asp-for="Masp" class="form-control" placeholder="Enter Ma loai san pham">
        <span asp-validation-for="Masp" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Malsp">Ma Loai san pham</label>
        <input asp-for="Malsp" class="form-control" placeholder="Enter Ma loai san pham">
        <span asp-validation-for="Malsp" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Tensp">Ten san pham</label>
        <input asp-for="Tensp" class="form-control" placeholder="Enter Tensan pham">
        <span asp-validation-for="Tensp" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Dongia">Don gia</label>
        <input asp-for="Dongia" class="form-control" placeholder="Enter Don gia san pham">
        <span asp-validation-for="Dongia" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Soluongtonkho">So luong san pham ton kho</label>
        <input asp-for="Soluongtonkho" class="form-control" placeholder="Enter So luong san pham ton kho">
        <span asp-validation-for="Soluongtonkho" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Tinhtrang">Tinh trang san pham</label>
        <input asp-for="Tinhtrang" class="form-control" placeholder="Enter Tinh trang san pham">
        <span asp-validation-for="Tinhtrang" class="text-danger"> </span>
    </div>
    <div class="form-group">
        <label asp-for="Img">link anh</label>
        <input asp-for="Img" type="file" class="form-control" placeholder="Enter link anh san pham">
        <span asp-validation-for="Img" class="text-danger"> </span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
