@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div style="height: 100px; background-color: #051922;"></div>

<div class="container" style="text-align-last: center;">
        <img src="~/assets/img/thanks.jpg" alt="Thank You" class="thank-you-img">
        <h1>Cảm ơn bạn đã mua hàng!</h1>
        <p>Xin chân thành cảm ơn bạn đã mua hàng của chúng tôi. Chúng tôi đã nhận được đơn hàng của bạn và sẽ tiến hành xử lý trong thời gian sớm nhất.</p>
        <button class="btn" style="margin-bottom: 30px; border: 1px solid #000">
            <a asp-action="Index" asp-controller="SanPham" class="back-to-home" style="color:#000">Quay lại Trang chủ</a>
    </button>
</div>
