@using MVC_DOAN.ViewModels;
@model List<UserVM>
@{
    ViewData["Title"] = "User Page";
}
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Xinh đẹp & Quyến rũ</p>
                    <h1>User</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-hover align-items-center table-borderless">
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr class="bg-white">
                            <th scope="row">
                                <div class="media align-items-center">
                                    <div class="media-body">
                                        <span class="h6 mb-0">@user.Id</span>
                                    </div>
                                </div>
                            </th>
                            <td>
                                <a class="btn btn-outline-primary" asp-controller="User" asp-action="Detail" asp-route-id="@user.Id">
                                    View Profile
                                </a>
                            </td>

                            @{
                                var mileage = user.Nickname == null ? "?" : user.Nickname.ToString();
                                var pace = user.Phanloai == null ? "?" : user.Phanloai.ToString();
                            }
                            <td>@mileage mile at @pace mph</td>
                            <td><i class="icon-location"></i> @user.Mail</td>
                        </tr>
                        <tr class="table-divider">
                            <th></th>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!--end of col-->
    </div>
    <!--end of row-->
</div>
<!--end of container-->